@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  list-style: none;
}
body a {
  color: #fff;
}
body li {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.375;
  letter-spacing: 0.05em;
  font-style: italic;
  font-family: "Noto Serif", serif;
}
body h1 {
  font-size: 70px;
  font-weight: bold;
  line-height: 0.7142857143;
  letter-spacing: 0.069em;
  color: #fff;
  font-family: "Noto Serif", serif;
}
@media (max-width: 768px) {
  body h1 {
    font-size: 38px;
    white-space: nowrap;
  }
}
body h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 0.05em;
  font-weight: "Noto Serif JP", serif;
}
body h3 {
  font-size: 60px;
  font-weight: Bold;
  line-height: 0.6;
  letter-spacing: 0.11em;
  font-style: italic;
  font-family: "Noto Serif", serif;
  color: #282f35;
}
@media (max-width: 768px) {
  body h3 {
    font-size: 28px;
  }
}
body h4 {
  color: #fff;
  font-size: 40px;
  font-weight: Bold;
  line-height: 1.25;
  letter-spacing: 0.05em;
  font-family: "Noto Serif JP", serif;
  font-style: italic;
}
@media (max-width: 768px) {
  body h4 {
    font-size: 30px;
  }
}
body h5 {
  color: #171717;
  font-size: 30px;
  font-weight: Bold;
  line-height: 1.6666666667;
  letter-spacing: 0.06em;
  font-family: "Noto Serif JP", serif;
}
@media (max-width: 768px) {
  body h5 {
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.07em;
  }
}
body section {
  color: #171717;
  font-size: 90px;
  font-weight: bold;
  line-height: 0.3222222222;
  letter-spacing: 0.01em;
  opacity: 0.5;
}
@media (max-width: 768px) {
  body section {
    font-size: 40px;
  }
}
body p,
body dt,
body dd {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.875;
  letter-spacing: 0.02em;
  color: #333333;
  font-weight: "Noto Serif JP", serif;
  letter-spacing: 0.05em;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  list-style-type: none;
  text-decoration: none;
}

.f-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.l-contents-img {
  position: relative;
  width: 100%;
  height: 740px;
}
@media (max-width: 768px) {
  .l-contents-img {
    height: 590px;
  }
}
@media (max-width: 768px) {
  .l-contents-img__pc {
    display: none;
  }
}
.l-contents-img__sp {
  display: none;
}
@media (max-width: 768px) {
  .l-contents-img__sp {
    display: block;
  }
}
.l-contents-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.l-contents-img__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.l-footer {
  width: 100%;
  background-color: #fff;
  text-align: center;
  height: 80px;
}
.l-footer p {
  padding-top: 24px;
  color: #333333;
  font-size: 15px;
}

.l-header__inner {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 50px;
  padding: 25px 8%;
  position: absolute;
  z-index: 99;
}
@media (max-width: 768px) {
  .l-header__inner {
    padding: 40px 4%;
  }
}
.l-header__fv {
  background-image: url(../画像/img/fv-bgi_01@2x.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  min-height: 550px;
  position: relative;
}
@media (max-width: 768px) {
  .l-header__fv {
    height: 48vh;
  }
}
.l-header-img__center {
  position: absolute;
  top: 34%;
  left: 8.5%;
}
@media (max-width: 768px) {
  .l-header-img__center {
    top: 17%;
    left: 4.5%;
  }
}
.l-header-img__center h4 {
  margin-top: 48px;
  margin-left: 40px;
  font-style: normal;
}
@media (max-width: 768px) {
  .l-header-img__center h4 {
    margin-top: 61px;
    margin-left: 48px;
    width: 70%;
    line-height: 1.6;
    text-align: center;
    font-style: normal;
  }
}
.l-header a {
  transition: 0.3s;
}
.l-header a:hover {
  opacity: 0.7;
}
.l-header h3 {
  font-size: 26px;
}

.is-fixed {
  position: fixed;
  background-color: #282f35;
  height: 70px;
  width: 100%;
  transition: 0.3s;
  z-index: 99;
}

.p-article {
  width: 100%;
  margin: 0 auto;
}
.p-article:nth-of-type(1) {
  margin-top: 46px;
}
@media (max-width: 768px) {
  .p-article:nth-of-type(1) {
    margin-top: 110px;
    padding-left: 0;
  }
}
.p-article:nth-of-type(2) {
  margin-top: 115px;
}
@media (max-width: 768px) {
  .p-article:nth-of-type(2) {
    margin-top: 164px;
  }
}
.p-article:nth-of-type(3) {
  margin-top: 43px;
}
@media (max-width: 768px) {
  .p-article:nth-of-type(3) {
    margin-top: 75px;
    margin-left: 0;
  }
}
.p-article:nth-of-type(4) {
  margin-top: 158px;
}
@media (max-width: 768px) {
  .p-article:nth-of-type(4) {
    margin-top: 161px;
    margin-right: 10px;
  }
}
.p-article:nth-of-type(4) h2 {
  font-size: 25px;
}
.p-article h2 {
  text-align: center;
}
.p-article h3 {
  padding-top: 76px;
  padding-left: 15%;
}
@media (max-width: 768px) {
  .p-article h3 {
    padding-top: 0px;
    padding-left: 10px;
    letter-spacing: 0.15em;
  }
}
.p-article h3::after {
  content: "";
  display: inline-block;
  width: 200px;
  height: 6px;
  margin-left: 43px;
  margin-bottom: 10px;
  background-color: #282f35;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .p-article h3::after {
    width: 85px;
  }
}
.p-article h5 {
  width: 43%;
  margin: 0 auto;
  margin-top: 82px;
  text-align: center;
}
@media (max-width: 768px) {
  .p-article h5 {
    margin-top: 55px;
    width: 92%;
  }
}
.p-article section {
  max-width: 1300px;
  text-align: end;
}
@media (max-width: 768px) {
  .p-article section {
    margin-top: 36px;
    padding-right: 20px;
  }
}
.p-article__2colum1 {
  display: flex;
  width: 100%;
}
@media (max-width: 768px) {
  .p-article__2colum1 {
    flex-direction: column;
  }
}
.p-article__2colum1-left {
  margin-top: 7.5%;
  padding-left: 13.5%;
  width: 32%;
}
@media (max-width: 768px) {
  .p-article__2colum1-left {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 10px;
    width: 90%;
  }
}
.p-article__2colum1-right {
  width: 34%;
  margin-left: 8%;
  margin-top: 5%;
}
@media (max-width: 768px) {
  .p-article__2colum1-right {
    width: 92%;
    margin-left: 15px;
    margin-top: 32px;
  }
}
.p-article__2colum1-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 2/1;
}
.p-article__3colum {
  display: flex;
  width: 100%;
  margin-top: 110px;
}
@media (max-width: 768px) {
  .p-article__3colum {
    display: block;
    margin-top: 87px;
  }
}
.p-article__3colum1 {
  width: 33%;
  position: relative;
}
@media (max-width: 768px) {
  .p-article__3colum1 {
    width: 100%;
    margin-top: 25px;
  }
}
.p-article__3colum1 img {
  position: absolute;
  object-fit: cover;
  width: 100%;
}
@media (max-width: 768px) {
  .p-article__3colum1 img {
    position: unset;
  }
}
.p-article__3colum1 h4 {
  margin-top: 28%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
}
@media (max-width: 768px) {
  .p-article__3colum1 h4 {
    margin-top: 110px;
    font-size: 22px;
  }
}
.p-article__3colum > section {
  margin-top: 200px;
}
.p-article2 {
  background-image: url(../画像/img/works-bgi@2x.jpg);
}
.p-article2 h3 {
  padding-top: 125px;
  padding-right: 128px;
  letter-spacing: 0.2em;
  text-align: end;
  color: white;
  z-index: 1;
}
@media (max-width: 768px) {
  .p-article2 h3 {
    padding-top: 110px;
    padding-right: 10px;
  }
}
.p-article2 h3::after {
  content: "";
  display: inline-block;
  width: 200px;
  height: 6px;
  margin-left: 43px;
  margin-bottom: 10px;
  background-color: #fff;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .p-article2 h3::after {
    margin-left: 30px;
    width: 95px;
    margin-right: 10px;
  }
}
.p-article2__3card {
  display: flex;
  width: 70%;
  padding-top: 105px;
  padding-bottom: 84px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .p-article2__3card {
    flex-direction: column;
    width: 100%;
    padding-top: 31px;
    padding-bottom: 0;
  }
}
.p-article2__3card-set {
  width: 32%;
  margin-right: 20px;
  background-color: white;
}
@media (max-width: 768px) {
  .p-article2__3card-set {
    width: 87%;
    margin-right: 0;
    margin-top: 30px;
    margin-left: 7%;
  }
}
.p-article2__3card-set:nth-of-type(3) {
  margin-right: 0;
}
.p-article2__3card-set img {
  width: 100%;
  object-fit: cover;
}
.p-article2__3card-set p {
  width: 88%;
  font-size: 16px;
  font-weight: regular;
  line-height: 1.875;
  letter-spacing: 0.06em;
  font-family: "Noto Serif JP", serif;
  padding: 31px 6%;
  flex-grow: 1;
}
.p-article2 {
  margin-top: 118px;
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  .p-article2 {
    margin-top: 59px;
  }
}
.p-article3 {
  width: 100%;
  background-image: url(../画像/img/contact-bgi@2x.jpg);
  margin-top: 125px;
}
@media (max-width: 768px) {
  .p-article3 {
    margin-top: 100px;
  }
}
.p-article3 h3 {
  padding-top: 134px;
  padding-right: 128px;
  text-align: end;
  color: white;
  z-index: 1;
}
@media (max-width: 768px) {
  .p-article3 h3 {
    padding-top: 110px;
    padding-right: 10px;
  }
}
.p-article3 h3::after {
  content: "";
  display: inline-block;
  width: 200px;
  height: 6px;
  margin-left: 43px;
  margin-bottom: 10px;
  background-color: #fff;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .p-article3 h3::after {
    margin-left: 30px;
    width: 95px;
    margin-right: 10px;
  }
}
.p-article3 h4 {
  margin-top: 100px;
  margin-bottom: 52px;
  font-size: 20px;
  text-align: center;
  font-family: "Noto Serif JP", serif;
}
@media (max-width: 768px) {
  .p-article3 h4 {
    margin-top: 90px;
    margin-bottom: 30px;
  }
}
.p-article3 section {
  padding-bottom: 138px;
  margin-top: 90px;
  margin-left: 115px;
}
@media (max-width: 768px) {
  .p-article3 section {
    margin-top: 50px;
    margin-left: 13px;
    padding-bottom: 85px;
  }
}

.no_scroll {
  overflow: hidden;
}

.p-mask {
  display: none;
}

.open1 {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.9;
  z-index: 10;
  cursor: pointer;
  overflow-y: hidden;
}

.p-nav-wrapper {
  display: flex;
  position: absolute;
  padding: 28px 5.5% 0 0;
  top: 0;
  right: 0;
}
.p-nav-list {
  display: flex;
}
@media (max-width: 768px) {
  .p-nav-list {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    color: #fff;
    padding: 317px 150px;
    transition: all 0.5s;
    z-index: 20;
    opacity: 0;
  }
}
.p-nav-list-item1 {
  margin-right: 32px;
}
@media (max-width: 768px) {
  .p-nav-list-item1 {
    margin-top: 30px;
  }
  .p-nav-list-item1:nth-of-type(1) {
    margin-top: 0;
  }
}

.open {
  left: 0;
  opacity: 1;
  flex-direction: column;
}

.p-sns {
  display: flex;
}
@media (max-width: 768px) {
  .p-sns {
    margin-top: 44px;
    margin-left: 39px;
  }
}
@media (max-width: 768px) {
  .p-sns {
    margin-left: 0px;
  }
}
.p-sns > :nth-child(1) {
  margin-right: 20px;
}
.p-sns > :nth-child(2) {
  margin-right: 27px;
}

.p-fv {
  height: 60vh;
  min-height: 550px;
  position: relative;
}
.p-fv img {
  object-fit: cover;
  height: 100%;
  min-height: 100%;
  width: 100%;
}
.p-fv__center {
  position: absolute;
  left: 120px;
  bottom: 180px;
  color: #fff;
}
.p-fv__center h4 {
  margin-top: 50px;
  margin-left: 5%;
}

#c-form {
  width: 100%;
  height: 25px;
}
#c-form-content {
  width: 100%;
  height: 170px;
}

.c-form__input {
  margin: 0px auto;
  margin-top: 73px;
  max-width: 700px;
  padding-right: 11px;
}
.c-form__name {
  margin-top: 3px;
}
.c-form__phone {
  margin-top: 26px;
}
@media (max-width: 768px) {
  .c-form__phone {
    margin-top: 22px;
  }
}
.c-form__email {
  margin-top: 23px;
}
@media (max-width: 768px) {
  .c-form__email {
    margin-top: 22px;
  }
}
.c-form__content {
  margin-top: 15px;
}
@media (max-width: 768px) {
  .c-form__content {
    margin-top: 19px;
  }
}
.c-form__button {
  margin: 0 auto;
  margin-top: 40px;
  width: 235px;
  height: 60px;
  border-radius: 30px;
  color: #fff;
  background-color: #333333;
  font-size: 20px;
}

.c-button {
  text-align: center;
  background-color: #f7d43f;
  padding: 16px 69px;
  border-radius: 35px;
  width: 109px;
  margin: 0 auto;
}

#c-BTN1.active {
  transform: rotate(360deg);
  transition: all 0.9s;
  margin-top: 0px;
  z-index: 99;
}
#c-BTN1.active span:nth-of-type(1) {
  top: 3px;
  transform: translateY(15px) rotate(-45deg);
  background-color: #fff;
}
#c-BTN1.active span:nth-of-type(2) {
  display: none;
}
#c-BTN1.active span:nth-of-type(3) {
  top: 33px;
  transform: translateY(-15px) rotate(45deg);
  background-color: #fff;
}

.c-ham-btn {
  display: none;
  position: absolute;
  width: 40px;
  height: 50px;
  z-index: 98;
  cursor: pointer;
  top: 37px;
  right: 15px;
}
@media (max-width: 768px) {
  .c-ham-btn {
    display: flex;
  }
}
.c-ham-btn span {
  position: absolute;
  left: 7px;
  width: 36px;
  height: 3px;
  transition: all 0.4s;
  background-color: #fff;
}
.c-ham-btn span:nth-of-type(2) {
  top: 8px;
}
.c-ham-btn span:nth-of-type(3) {
  top: 17px;
}

.c-gmap {
  width: 75% !important;
  height: 300px;
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  .c-gmap {
    width: 100% !important;
    padding: 10px 0px 0 3px;
    border-bottom: none;
    margin-bottom: 26px;
  }
}

.c-pagenation {
  justify-content: center;
  display: flex;
  margin: -5px;
}
.c-pagenation li {
  padding: 0 20px;
  font-family: "Noto Serif JP", serif;
  font-size: 14px;
  font-weight: regular;
  line-height: 1.5;
  letter-spacing: 0em;
}

.u-mg-1 {
  margin-left: 45px;
}
@media (max-width: 768px) {
  .u-mg-1 {
    margin-left: 15px;
  }
}
.u-mg-2 {
  margin-left: 20px;
  margin-top: 410px;
}
@media (max-width: 768px) {
  .u-mg-3 {
    margin-top: 80px;
  }
}
.u-mg-4 {
  margin-top: 110px;
}

@media (max-width: 768px) {
  .u-mr36 {
    margin-right: 18px;
  }
}

@media (max-width: 768px) {
  .u-mr10 {
    margin-right: 10px;
  }
}

.bg-fixed {
  height: 300px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  .bg-fixed {
    height: 95px;
  }
}

.u-ab {
  position: absolute;
}

.u-pd {
  padding: 115px 0 100px 118px;
}
@media (max-width: 768px) {
  .u-pd {
    padding: 100px 0 100px 20px;
  }
}/*# sourceMappingURL=style.css.map */