@use "../global" as *;

.l-contents {
  &-img {
    position: relative;
    width: 100%;
    height: 740px;
    @include tab {
      height: 590px;
    }
    &__pc {
      @include tab {
        display: none;
      }
    }
    &__sp {
      display: none;
      @include tab {
        display: block;
      }
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -51%);
      border: 1px solid #fff;
      padding: 58px 53px 50px 41px;
      white-space: nowrap;
      @include tab {
        font-size: 26px;
        padding: 40px 61px 40px 41px;
      }
    }
  }
}
