@use "../global" as *;

.l-header {
  &__inner {
    display: flex;
    justify-content: space-between;
    width: 83%;
    height: 50px;
    padding: 25px 8%;
    @include tab {
      padding: 40px 4%;
    }
    position: absolute;
    z-index: 99;
  }
  &__fv {
    background-image: url(../画像/img/fv-bgi_01@2x.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    @include tab {
      height: 48vh;
    }
    min-height: 550px;
    position: relative;
  }
  &-img {
    &__center {
      position: absolute;
      top: 34%;
      left: 8.5%;
      @include tab {
        top: 17%;
        left: 4.5%;
      }
      h4 {
        margin-top: 48px;
        margin-left: 40px;
        font-style: normal;
        @include tab {
          margin-top: 61px;
          margin-left: 48px;
          width: 70%;
          line-height: 1.6;
          text-align: center;
          font-style: normal;
        }
      }
    }
  }
  a {
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
  h3 {
    font-size: 26px;
  }
}

.fixed-class {
  background-color: aqua;
  top: 0;
  width: 100%;
}
