@use "../global" as *;

.p-article {
  width: 100%;
  margin: 0 auto;
  @include tab {
    margin-left: 14px;
  }
  &:nth-of-type(1) {
    margin-top: 46px;
    padding-left: 25px;
  }
  &:nth-of-type(2) {
    margin-top: 115px;
    @include tab {
      margin-top: 164px;
    }
  }
  &:nth-of-type(3) {
    margin-top: 43px;

    @include tab {
      margin-top: 133px;
    }
  }
  &:nth-of-type(4) {
    margin-top: 158px;
    @include tab {
      margin-top: 161px;
      margin-right: 10px;
    }
    h2 {
      font-size: 25px;
    }
  }
  h2 {
    text-align: center;
  }
  h3 {
    padding-top: 76px;
    padding-left: 180px;
    &::after {
      content: "";
      display: inline-block;
      width: 200px;
      height: 6px;
      margin-left: 43px;
      margin-bottom: 10px;
      background-color: #282f35;
      vertical-align: middle;
    }
  }
  h5 {
    margin-top: 82px;
    margin-right: 25px;
    text-align: center;
  }
  section {
    max-width: 1300px;
    margin-top: 110px;
    text-align: end;
  }
  &__2colum1 {
    display: flex;
    width: 100%;
    &-left {
      margin-top: 104px;
      padding-left: 189px;
      width: 31%;
    }
    &-right {
      width: 41%;
      margin-left: 125px;
      margin-top: 66px;
    }
  }
  &__3colum {
    display: flex;
    width: 100%;
    margin-top: 100px;
    &1 {
      width: 33%;
      position: relative;
      img {
        position: absolute;
        object-fit: cover;
      }
      h4 {
        margin-top: 135px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
      }
    }
    > section {
      margin-top: 200px;
    }
  }
  &2 {
    background-image: url(../画像/img/works-bgi@2x.jpg);
  }

  &2,
  &3 {
    width: 100%;
    margin-top: 118px;

    background-size: cover;
    background-position: center;

    h3 {
      padding-top: 125px;
      padding-right: 18px;
      text-align: end;
      color: white;
      z-index: 1;
      &::after {
        content: "";
        display: inline-block;
        width: 200px;
        height: 6px;
        margin-right: 110px;
        margin-left: 50px;
        background-color: $white;
        vertical-align: middle;
      }
    }
    &__3card {
      display: flex;
      width: 70%;
      padding-top: 105px;
      padding-bottom: 84px;
      margin: 0 auto;

      &-set {
        width: 32%;
        margin-right: 20px;
        &:nth-of-type(3) {
          margin-right: 0;
        }
        background-color: white;
        img {
          width: 100%;
        }
        p {
          width: 88%;
          @include f_style(16, regular, 30, 60);
          font-family: $font-family2;
          padding: 7px 21px 26px;
        }
      }
    }
  }
  &3 {
    background-image: url(../画像/img/contact-bgi@2x.jpg);
    margin-top: 97px;

    h3 {
      padding-top: 128px;
      padding-right: 8px;
    }

    h4 {
      margin-top: 100px;
      margin-bottom: 52px;
      font-size: 17px;
      text-align: center;
    }
    section {
      padding-bottom: 145px;
      margin-top: 90px;
      margin-left: 115px;
    }
  }
}
