@use "../global" as *;

.p-fv {
  height: 65vh;
  min-height: 550px;
  position: relative;
  img {
    object-fit: cover;
    height: 753px;
    width: 100%;
  }
  &__center {
    position: absolute;
    left: 8%;
    bottom: 29%;
    color: #fff;
    h4 {
      margin-top: 50px;
      margin-left: 5%;
      font-style: normal;
    }
  }
}
