@use "../global" as *;

.u-mg {
  &-1 {
    margin-left: 45px;
    @include tab {
      margin-left: 15px;
    }
  }
  &-2 {
    margin-left: 20px;
    margin-top: 410px;
  }
  &-3 {
    @include tab {
      margin-top: 80px;
    }
  }
  &-4 {
    margin-top: 110px;
  }
}

.u-mr36 {
  @include tab {
    margin-right: 18px;
  }
}

.u-mr10 {
  @include tab {
    margin-right: 10px;
  }
}
