@use "../global" as *;

.u-mg {
  &-1 {
    margin-left: 45px;
  }
  &-2 {
    margin-top: 448px !important;
    margin-left: 20px;
  }
}

.u-mr36 {
  @include tab {
    margin-right: 18px;
  }
}

.u-mr10 {
  @include tab {
    margin-right: 10px;
  }
}
